body {
    margin: 120px 0px;
}
.profil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 300px;
}
.judul {
    display: flex;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;
    color: #21243D;
    width: 50%;
}
.judul > h2 {
    font-family: 'Heebo', sans-serif;
    font-size: 44px;
    color: #21243D;
}
.judul > p {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    text-align: justify;
    width: 65%;
}
.image > img {
    border-radius: 50%;
    width: 243px;
    height: 243px;
}
.informasi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 300px;
    background-color: #EDF7FA;
    margin-top: 100px;
}
.kontak {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 27%;
    padding: 0px;
    margin-top: 30px;
}
.kontak > h4 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #136223;
}
.education {
    font-family: 'Inter', sans-serif;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.education > h4 {
    font-size: 18px;
    color: #136223;
}
.riwayat {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    min-width: 300px;
    margin-left: 210px;
    margin-right: 210px;
}
.riwayat > h4 {
    text-align: left;
    margin-top: 18px;
    color: #136223;
    font-family: 'Inter', sans-serif;
    width: 30%;
}
.project-1, .project-2, .project-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.project-1 > img, .project-3 > img {
    border-radius: 3%;
    width: 230px;
    height: 180px;
    margin-top: 30px;
}
.project-2 > img {
    border-radius: 3%;
    width: 230px;
    height: 180px;
    margin-top: 30px;
}
.desk-1, .desk-2, .desk-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.desk-1 > h3, .desk-2 > h3, .desk-3 > h3 {
    font-family: 'Heebo', sans-serif;
    font-size: 28px;
    color: #21243D;
    margin-left: 20px;
}
.desk-1 > p, .desk-2 > p, .desk-3 > p {
    font-family: 'Heebo', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    text-align: justify;
    /* width: 50%; */
    padding: 0px;
}
.desk-1 > p > span, .desk-2 > p > span, .desk-3 > p > span {
    color: #ffff;
    background-color: #142850;
    padding: 10px;
    border-radius: 25px;
    margin-right: 30px;
    text-align: center;
}
hr {
    width: 80%;
    margin-top: 35px;
    margin-bottom: 50px;
    text-decoration-line: bold;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: #21243D;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
}
.copy > p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
    color: #21243D;
    font-size: 14px;
    margin-left: 35px;
}
/* @media only screen and (max-width: 576px) {
    .judul > h2 {
        font-size: 22px;
    }
    .judul > p {
        font-size: 8px;
    }
    .image > img {
        width: 90px;
        height: 90px;
    }
} */